@import url("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.18.0/inter.css");
@import "tailwindcss/base";
@import "tailwindcss/utilities";

html,
body,
#__next {
  height: 100%;
  width: 100%;
  display: flex;
}
